<!DOCTYPE html>
	<html ng-app='ShoppingListCheckOff'>
		<head>
			<meta charset="utf-8">
			<script src="angular.min.js"></script>
			<script src="app.js"></script>
			<style>body{font-size:1.2em;}</style>
			<title>Filters</title>
		</head>
		<body>
			<h1>Shopping List</h1><br>
			
			
			<div ng-controller='ToBuyShoppingController as toBuyList'>
				<div ng-if="toBuyList.toBuyItemList.length === 0" class="error">Everything is bought!</div>
				<ol>
					<li ng-repeat="item in toBuyList.toBuyItemList">
					 Buy {{item.quantity}} {{item.name}}
					<button ng-click="toBuyList.addToBoughtList($index,item.quantity,item.name)">Bought</button><br>
					</li>
				</ol><br><br>
				
						</div>
						
			<div ng-controller='AlreadyBoughtShoppingController as BoughtList' >
				<h1>Bought Items</h1><br>
				<div ng-if="BoughtList.boughtlist.length === 0" class="error">Nothing is bought!</div>
				<ol>
					<li ng-repeat="ite in BoughtList.boughtlist">
						 {{ite.quantity}} {{ite.name}}
					</li>

				</ol>
			</div>
		</body>

	</html>
